@primary: #603232;
@second: #BE8164;
@light: #ffffff;
@light_bg: #EDEFF5;
@light_text: #9CA5AF;
@text: #1e2022;

body {
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-size: 100%;
    background-image: url(../images/desert.jpg);
    font-family: roboto, sans-serif;
    color: @light_bg; 
}

a {
    text-decoration: none;
    color: @light_bg; 
}

.btn-rounded {
    opacity: 0.5;
    border-radius: 100%
}

header {
    width: 100%;
    height: 120px;
    display: flex;
    position: fixed;
    padding: 0px 4%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    .logo {
        flex-basis: 40%;
        width: 30%;
        .img-logo {
            width: 14%;
        }
    }

    .sidebar {
        display: flex;
        width: 700px;
        justify-content: space-between;
        .search {
            width: 20%;
            input {
                display: none;
            }
            .searchbt {
                height: 10%;
                img {
                    max-width: 100%;
                }
            }
            .searchbt:hover {
                .search-input {
                    color: rebeccapurple;
                    display: block;
                }
            }
        }
    }
}

nav {
    display: inline;
}

.horizontal-menu {
    display: flex;
    list-style-type: none;
    padding: 0px;
    >li:not(:last-child) {
        margin-right: 25px;
    }
}

main {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 120px;
    display: flex;
    height: calc(100vh - 120px);
    article {
        width: 400px;
        float: right;
        margin-top: 120px;
        margin-right: 150px;
    }
    .gallery-cards {
        height: 100%;
        .gallery {
            height: 80%;
            display: flex;
            margin-bottom: 60px;
            .card {
                margin-right: 20px;
                height: 100%;
                width: 320px;
                .rating {
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    margin-right: -1.6vh;
                    margin-bottom: 1vh;
                    margin-top: -0.8vh;
                    .rating-round {
                        height: 1.5vh;
                        width: 1.5vh;
                        border-radius: 100%;
                        background-color: @light_text;
                        opacity: 0.9
                    }
                    .fill {
                        background-color: @light_bg;
                    }
                }
            }
            .card:not(:first-child) {
                transform: scale(0.85);
            }
        }
        .controls {
            width: 70%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.card-photo {
    height: 85%;
    border-radius: 2%;
    position: relative;
}

.card-photo-1 {
    background-size: 250%;
    background-position-x: 550px;
    background-image: url('../images/Amboseli.jpg')
}

.card-photo-2 {
    background-size: 250%;
    background-position-x: 550px;
    background-image: url('../images/Botswana.jpg')
}

.card-photo-3 {
    background-size: 250%;
    background-position-x: 550px;
    background-image: url('../images/lower-zambezi-zambia.jpg')
}

.fav {
    position: absolute;
    right: 20px;
    top: 20px;
}

.card-count {
    display: flex;
    align-items: center;
    .line {
        height: 1px;
        width: 60px;
        background-color: @text;
        margin: 0px 6px;
        border-radius: 5%;
    }
}