body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-size: 100%;
  background-image: url(../images/desert.jpg);
  font-family: roboto, sans-serif;
  color: #EDEFF5;
}
a {
  text-decoration: none;
  color: #EDEFF5;
}
.btn-rounded {
  opacity: 0.5;
  border-radius: 100%;
}
header {
  width: 100%;
  height: 120px;
  display: flex;
  position: fixed;
  padding: 0px 4%;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  flex-basis: 40%;
  width: 30%;
}
header .logo .img-logo {
  width: 14%;
}
header .sidebar {
  display: flex;
  width: 700px;
  justify-content: space-between;
}
header .sidebar .search {
  width: 20%;
}
header .sidebar .search input {
  display: none;
}
header .sidebar .search .searchbt {
  height: 10%;
}
header .sidebar .search .searchbt img {
  max-width: 100%;
}
header .sidebar .search .searchbt:hover .search-input {
  color: rebeccapurple;
  display: block;
}
nav {
  display: inline;
}
.horizontal-menu {
  display: flex;
  list-style-type: none;
  padding: 0px;
}
.horizontal-menu > li:not(:last-child) {
  margin-right: 25px;
}
main {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  display: flex;
  height: calc(100vh - 120px);
}
main article {
  width: 400px;
  float: right;
  margin-top: 120px;
  margin-right: 150px;
}
main .gallery-cards {
  height: 100%;
}
main .gallery-cards .gallery {
  height: 80%;
  display: flex;
  margin-bottom: 60px;
}
main .gallery-cards .gallery .card {
  margin-right: 20px;
  height: 100%;
  width: 320px;
}
main .gallery-cards .gallery .card .rating {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-right: -1.6vh;
  margin-bottom: 1vh;
  margin-top: -0.8vh;
}
main .gallery-cards .gallery .card .rating .rating-round {
  height: 1.5vh;
  width: 1.5vh;
  border-radius: 100%;
  background-color: #9CA5AF;
  opacity: 0.9;
}
main .gallery-cards .gallery .card .rating .fill {
  background-color: #EDEFF5;
}
main .gallery-cards .gallery .card:not(:first-child) {
  transform: scale(0.85);
}
main .gallery-cards .controls {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.card-photo {
  height: 85%;
  border-radius: 2%;
  position: relative;
}
.card-photo-1 {
  background-size: 250%;
  background-position-x: 550px;
  background-image: url('../images/Amboseli.jpg');
}
.card-photo-2 {
  background-size: 250%;
  background-position-x: 550px;
  background-image: url('../images/Botswana.jpg');
}
.card-photo-3 {
  background-size: 250%;
  background-position-x: 550px;
  background-image: url('../images/lower-zambezi-zambia.jpg');
}
.fav {
  position: absolute;
  right: 20px;
  top: 20px;
}
.card-count {
  display: flex;
  align-items: center;
}
.card-count .line {
  height: 1px;
  width: 60px;
  background-color: #1e2022;
  margin: 0px 6px;
  border-radius: 5%;
}
