<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ирландия</title>
</head>
<body>
    <header>
        <div class="logo"><img src="" alt="Логотип"></div>
        <nav>
            <ul>
                <li>Инстаграмм</li>
                <li>ВКонтакте</li>
                <li>8 800 700-00-00</li>
            </ul>
        </nav>
        <div class="left-menu"></div>
    </header>
    <main>
        <div class="pages first-pages">
            <img src="" alt="Логотип">
            <div class="discription-ireland">
                <h1 class="font-rosslaire hollow">Ireland</h1>
                <h1 class="font-rosslaire solid">cours</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, vel.</p>
                <a href="#">book a tour</a>
            </div>
            <div class="carousel_facts">
                <div class="controls">
                    <div class="button-controls">
                        <button class="btn-rounded left"></button>
                        <button class="btn-rounded right"></button>
                    </div>
                </div>
                <div class="first_carousel_facts">
                    <p class="p_text_facts">Lorem ipsum dolor sit amet consectetur.</p>
                    <h1 class="class_h1_text_facts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, facilis aut!</h1>
                    <a href="#">book a tour</a>
                </div>
                <div class="second_carousel_facts">
                    <p class="p_text_facts">Lorem ipsum dolor sit amet consectetur.</p>
                    <h1 class="class_h1_text_facts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, facilis aut!</h1>
                    <a href="#">book a tour</a>
                </div>
                <div class="third_carousel_facts">
                    <p class="p_text_facts">Lorem ipsum dolor sit amet consectetur.</p>
                    <h1 class="class_h1_text_facts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, facilis aut!</h1>
                    <a href="#">book a tour</a>
                </div>
            </div>
        </div>
        <div class="pages second-pages">
            <h1 class="font-rosslaire solid">cours</h1>
            <div class="left_part">
                <div class="left_part1">
                    <h1 class="class_h1_text_facts">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, consequuntur!</h1>
                    <p class="p_text_facts">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi odit nisi quae dolor eos vero et dolores libero veritatis, in unde impedit!</p>
                    <ul>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem, ipsum dolor.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                    <hr>
                    <div class="duration">
                        <p>Duration: 8 days/7 nights</p>
                    </div>
                    <div class="two_parts">
                        <div class="price">1247€</div>
                        <div class="learn"><a href="#">learn more</a></div>
                    </div>
                </div>
                <div class="right_part1 image_right_part"></div>
            </div>
            <div class="right_part"></div>
        </div>
        <div class="pages third-pages">
            <h1 class="font-rosslaire solid">Destination</h1>
            <div class="left_part_in_dest">
                <div class="location">
                    <img src="" alt="">
                    <p class="location_name">Country Clare, Ireland</p>
                </div>
                <h1 class="h1_destination_left">Cliffs on Moher</h1>
                <p class="text_destination_left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus laborum deserunt in velit accusantium error molestiae beatae labore delectus consequuntur!</p>
                <img src="" alt="" class="">
            </div>
            <img src="" alt="">
        </div>
        <div class="pages forth-pages">
            <h1 class="font-rosslaire solid">About Us</h1>
            <div class="up_destination">
                <h1 class="h1_about_mission">Our Mission</h1>
                <p class="p_about_mission">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius similique vitae eum. <br>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis ex provident dicta repellendus accusamus inventore quibusdam, saepe possimus earum. Quam ut excepturi non nisi doloremque libero aut magnam modi neque.
                Iure alias quaerat quibusdam neque delectus veniam consectetur sed quae mollitia id rem earum natus, repudiandae ducimus excepturi voluptate, ad at, voluptatum qui? Quia sint fuga ipsam, nulla officiis voluptas.
                Ab quae sapiente commodi consequatur libero vel saepe excepturi, officiis atque, tenetur veritatis consectetur molestias quia in et? Sit, quidem consectetur. Eligendi fuga id dolorem expedita, architecto facilis dignissimos praesentium.</p>
                <div class="learn"><a href="#">learn more</a></div>
            </div>
            <div class="down_destination_1 down_destination">
                <img src="" alt="" class="about_us_img">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius voluptatem facilis illo adipisci.</p>
            </div>
            <div class="down_destination_2 down_destination">
                <img src="" alt="" class="about_us_img">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius voluptatem facilis illo adipisci.</p>
            </div>
            <div class="down_destination_3 down_destination">
                <img src="" alt="" class="about_us_img">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius voluptatem facilis illo adipisci.</p>
            </div>
            <div class="down_destination_4 down_destination">
                <img src="" alt="" class="about_us_img">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius voluptatem facilis illo adipisci.</p>
            </div>
            <div class="pages forth-pages">
                <h1 class="font-rosslaire solid">Contacts</h1>
                <div class="contact_list">
                    <div class="phone">
                        <img src="" alt="phone" class="img_photo">
                        <p class="text_photo">(+353)7 856 78 60</p>
                    </div>
                    <div class="e-mail">
                        <img src="" alt="phone" class="img_e-mail">
                        <p class="text_e-mail">celtictours@gmail.ru</p>
                    </div>
                    <div class="location">
                        <img src="" alt="location" class="img_location">
                        <p class="text_location">2-58 Raymond St Merchants Quay Dublin, Ireland</p>
                    </div>
                </div>
                <div class="any_questions">
                    <input type="text" name="" id="" class="aq_name" placeholder="Name">
                    <input type="text" name="" id="" class="aq_e-mail" placeholder="E-mail">
                    <input type="text" name="" id="" class="aq_message" placeholder="Message">
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>