<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/viewer_test.js"></script>
    <title>Прохождение теста</title>
</head>
<body>
    <h3>Название теста: {{ name }}</h3>
    <p>Описание теста: {{ description }}</p>
    <form action="/result_test" method="post">
        {% for question, answers in questions %}
            {{ question }} <br>
            {% for answer in answers %}
                <label>
                    <input type="radio" name="answer-{{ question }}" id="" class="{{ question }}-{{ answer }}" value="{{ answer }}">{{ answer }}
                </label><br>
            {% endfor %}
        {% endfor %}
        <br>
        <input type="text" class="first-name" placeholder="Имя" name="first_name">
        <input type="text" class="last-name" placeholder="Фамилия" name="last_name">
        <input type="radio" name="numbertest" id="" style="visibility: hidden" value='{{ number_test }}' checked="checked">
        <button class="input_btn">Подтвердить</button>
    <form>
</body>
</html>